body {
  height: 100vh;
  width: 100vw;
  text-align: center;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

h1 {
  background: pink;
  padding: 1rem;
}

a {
  color: deeppink;
  text-decoration: none;
}

model-viewer {
  height: 80%;
  width: 100%;
}
